* {
    padding: 0;
    margin: 0;
    background-color: black; 
    color: white; 
    /*
    border: red 1px solid;
    */
}

html {
    font-family: Geneva, sans-serif;
    display: flex;
    justify-content: center;
}   

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

body {
    width: 80%;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }
}

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    text-align: center;
    margin: 1rem 3rem;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5rem;
}

a:hover {
    color: lightgrey;
}

.resume-pdf {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 8.5/11;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.flex-item {
    width: fit-content;
}

.flex-item img{
    border-radius: 1rem;
    width: 20rem;
}

.flex-item a {
    text-decoration: none;
}

.flex-item a:hover figcaption{
    color: lightgrey;
}

figcaption {
    text-align: center;
    font-weight: bold;
}