/* ---------- General ---------- */
* {
    padding: 0;
    margin: 0;
    background-color: black; 
    color: white; 
    /*
    border: red 1px solid;
    */
}

html {
    font-family: Geneva, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 98%;
    margin: 0.25rem;
}   

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 1rem 0;
}

a {
    text-decoration: none;
}

body {
    width: 80%;
    border: 1px white solid;
}

@media screen and (max-width: 480px) {
    body {
        width: 98%;
    }
}

main {
    margin: 2rem 0;
}
/* ---------- Nav Bar ---------- */

nav {
    border-bottom: 1px white solid;
}

.lower-nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: .5rem;
}

header .nav-element {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.current-page {
    cursor: default;
}

a:hover {
    color: lightgrey;
}

.dropdown-content {
    display: none;
    position:absolute;
}

.dropdown:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: grid;
    columns: 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
}

/* ---------- Resume Page ---------- */

.resume-pdf {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 8.5/11;
}

/* ---------- Projects Page ---------- */

.flex-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.flex-item {
    width: fit-content;
}

.flex-item img{
    border-radius: 1rem;
    width: 20rem;
}

.flex-item a {
    text-decoration: none;
}

.flex-item a:hover figcaption{
    color: lightgrey;
}

figcaption {
    text-align: center;
    font-weight: bold;
}